{% load staticfiles %}
<!DOCTYPE html>
  <head>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- TITLE -->
    <title>Home Grow | Real Time</title>

    <!-- Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="{% static 'realTime/static/css/main.min.css'%}">
    
    <!-- FAVICON -->
    <link rel="shortcut icon" href="{%  static 'TODO' %}">

    {% block head %}
    {% endblock %}


  </head>
  <body>
    {% block content %}
    <h1>Home Page</h1>
    {% endblock %}
  </body>
    {% block endscript %}
    {% endblock %}
</html>