{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
{% endblock %}

{% block head %}

<!-- Pusher Library -->
<script src="https://js.pusher.com/4.1/pusher.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<script>



  // Enable pusher logging - don't include this in production
  Pusher.logToConsole = true;

  var pusher = new Pusher('4887680d39884b2acacb', {
    cluster: 'eu',
    encrypted: true
  });

  var channel = pusher.subscribe('my-channel');
  channel.bind('my-event', function(data) {
    console.log($.isEmptyObject(data))
    if($.isEmptyObject(data) == false ){
      document.getElementById("at").innerHTML = data["at"],
      document.getElementById("hum").innerHTML = data["hum"],
      document.getElementById("ft").innerHTML = data["ft"]
    };
  });

</script>

{% endblock %}

{% block content %}
<h1>
  Home Grown
</h1>

<ul id="sensor-data">
  <li>FT: <span id="ft">Null</span></li>
  <li>AT: <span id="at">Null</span></li>
  <li>Hum: <span id="hum">Null</span></li>
</ul>
{% endblock %}

{% block endscript %}
{% endblock %}
